
.allproductpage .heading {
    background-color: rgb(240,240,240);
    font-family: "Poppins";
    display: flex;
    justify-content: center;
height: 50px;
}

.allproductpage .heading p{
    font-size: 2em;
}

.allproductpage .allproductcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}