@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap');

.myprod-container{
height: 30rem;
/* width: 50%; */
/* padding:16px; */

}

.wrap{
    padding-left: 5%;
    padding-right: 5%;
}

.cont{
    display: flex;
}

.myprod-container:hover{
    box-shadow: black;
}

.prod-img-cont{
    /* width: 443px;
    height: 28rem;
    padding: 5%; */
    /* 
    height: 100%; */
    /* object-fit: cover; */
    /* width: 90%; */
    padding: 20px;
}

.buttons{
    margin-top: 5em;
   display: flex;
   justify-content: space-between;
   
   margin-bottom: 10px;
}

.buttons button{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.buttons .buynow{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #B6002C;
    color: white;
    border: 2px solid #B6002C !important;
}
.buynow:hover{
    background-color: transparent;
    color: #B6002C;
}

.atc-button{
    background-color: transparent;
    border: 2px solid black !important;
}
.atc-button:hover {
    color: white;
    background-color: black;
}

.right-container{
    font-family: "Poppins";

margin-left: 3%;
padding-top: 2%;
padding-left: 5%;
padding-right: 5%;
background-color: #E5E5E5;
font-weight: 500;

}
.product-title{
    padding-top: 4px;
    font-size: 1.65rem;
   
}
.price-cont{
    line-height: 5px;
    margin-bottom: 30px;
}

.p1{
   
    font-size: 15px;
    font-weight: 400;
    padding-top: 4px;
   
}
.p1 .rate{
    text-decoration: line-through;
    color:red;
}
.p2{
    font-size: 15px;
    font-weight: 400;
    
}

.p2 .rate{
    color: green;
}

.p3{
    font-weight: 200;
}

.details{
font-size:14px;

}
.details-heading{
    font-size: 1.4rem;
    margin-bottom: 0;

}
.slider-section{
    margin-top: 5rem;
}
.prod-details-head{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.65rem;
    padding-left: 6px;
    margin-bottom: 2px;
}

@media screen and (max-width:941px){
    .buttons button{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .buttons .buynow{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #B6002C;
        color: white;
        border: 2px solid #B6002C !important;
    }
}

@media screen and (max-width:655px) {
    .cont{
        display: flex;
        flex-direction: column;
    }
    .myprod-container{
        height: 10rem;
        /* width: 50%; */
        /* padding:16px; */
        /* border: 2px solid black; */
        }
        .prod-img-cont{
            /* 
            height: 28rem;
            padding: 5%; */
            /* 
             */
            /*  */
            /* width: 90%; */
            object-fit: cover;
            height: 100%;
        }
}