.signup-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family: "Poppins";
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    width: 350px;
}

.signup-form p{
    font-size: 30px;
}

.signup-form label {
    padding: 0px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
}

.signup-form input {
    margin: 2px 0px;
    padding: 5px;
    border: 2px solid rgb(154, 154, 154);
    font-size: 18px;
}

.signup-form input:focus {
    outline: 2px solid #B6002C;
    border: none;
}

.signup-form button {
    background-color: #B6002C;
    margin: 20px 0px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    border: 2px solid #B6002C !important;
    padding: 5px;
}

.signup-form button:hover {
    background-color: transparent;
    color: #B6002C;
    cursor: pointer;
}

.success-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(224, 255, 228);
    padding: 10px;
    border-radius: 10px;
    color: green;
}

.error-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(224, 228, 228);
    padding: 10px;
    border-radius: 10px;
    color: red;
}

.link{
    text-decoration: none;
    margin-left: .5em;
}